
.brxe-idvly-con-text-items {
    padding: var(--gap-2xl) var(--gap-s);
}

.brxe-dvly-icon-text-items-list .brxe-item .brxe-item-icon i {
    font-size: 48px;
    color: var(--primary)
}

.brxe-dvly-icon-text-header {
    width: var(--full);
}

.brxe-dvly-icon-text-items-container {
    gap: var(--gap-l);
}

.brxe-dvly-icon-text-subtitle {
    font-size: var(--font-h6);
}

.brxe-dvly-icon-text-items-list {
    display: flex;
    gap: var(--gap-m);
    width: var(--full);
}

.brxe-dvly-icon-text-items-list .brxe-item {
    width: var(--full);
}

.brxe-item-text {
    margin-bottom: var(--gap-s);
}