.dvly-logo-grid {
  text-align: center;
}
.dvly-logo-grid-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: var(--gap-m);
}
.dvly-logo-link img,
.dvly-logo-item img {
  object-fit: contain;
}

.dvly-logo-grid-logos .dvly-logo-item {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .dvly-logo-grid-logos .dvly-logo-item {
    width: 200px;
  }
}

.brxe-dvly-logo-grid-container.brxe-container {
  padding: var(--gap-2xl) var(--gap-s);
  align-items: center;
}

.dvly-logo-grid-title,
.dvly-logo-grid-subtitle {
  text-align: center;
}
